@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: hotpink; */
    background: radial-gradient( magenta, yellow, cyan);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 256px;
    margin: 0 auto;
    text-align: center;
    border: 10px solid black;
    background-color: black;
    border-radius: 5px;
}

input[type="text"] {
    height: 75px;
    border: 0px;
    width: 250px;
    /* color: white; */
    /* background-color: darkgrey; */
    background: linear-gradient( grey, silver);
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}

input:focus,
input:active {
    outline: none
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
    margin-top: 8px;
}

#clear {
    grid-column: 1/3;
    /* grid-row: 1; */
}

#equals {
    grid-column: 3/5;
}

button {
    margin: 6px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    /* background-color: silver; */
}